<h2>Your App: Schemas</h2>
<h2>Schemas</h2>
<table>
  <thead>
    <tr>
      <th>Table Name</th>
      <th>Column Type</th>
      <th>Column Name</th>
    </tr>
    <tr>
      <th><input type="search" id="skmz_search_table_name" placeholder="Table Match"></th>
      <th>
        <%= select_tag "skmz_search_column_type", options_for_select(Skmz::Column::TYPES), include_blank: true %>
      </th>
      <th><input type="search" id="skmz_search_column_name" placeholder="Column Match"></th>
    </tr>
  </thead>
  <% @schema.tables.each do |table| %>
    <tbody>
      <% table.columns.each_with_index do |column, i| %>
        <tr class="skmz_row">
          <td class="<%= "skmz_table_name #{table.name}" %>"><%= table.name %></td>
          <td class="<%= "skmz_column_type #{column.type}" %>"><%= column.type %></td>
          <td class="<%= "skmz_column_name #{column.name}" %>"><%= column.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
